PORT=10001

# Token akses endpoint API
# Owner token dipakai untuk kirim notifikasi ke topic
ACCESS_KEY_OWNER=change-this-owner-token

# Client token dipakai untuk kirim notifikasi ke device tertentu
ACCESS_KEY_CLIENT=change-this-client-token

# Path relatif dari src/lib ke file service account Firebase
# Contoh file: src/lib/fcm/warehouse-irflow-firebase-adminsdk-fbsvc-2ad623d1a2.json
FIREBASE_SERVICE_ACCOUNT=fcm/your-firebase-adminsdk.json
